.painting-viewport {
   flex: 1;
   background-color: #1a222c; /* Workspace dark blue */
   display: flex;
   align-items: center;
   justify-content: center;
   padding: var(--padding-xl);
}

.canvas-elevation-wrapper {
   width: 500px;
   height: 500px;
   background-color: var(--color-white);
   box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
   border: 12px solid #ffffff;
   position: relative;
}

.sketch-canvas-element {
   width: 100% !important;
   height: 100% !important;
   border: none !important;
}
