/* url("font-link")
/* format("font-file-type") this tells the browser what type of font file it is before downloading it.
/* font-display: swap; {browser load system font immediately when it's is loading the custom fonts of ours}
/* --- to compress from ttf to woff2 ---
/* woff2_compress ./src/font/SpaceGrotesk-SemiBold.ttf run this command in terminal
*/

@font-face {
   font-family: "space-grotesk";
   src: url("../font/SpaceGrotesk-Bold.woff2") format("woff2");
   font-weight: 800;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "space-grotesk";
   src: url("../font/SpaceGrotesk-Medium.woff2") format("woff2");
   font-weight: 600;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "space-grotesk";
   src: url("../font/SpaceGrotesk-Regular.woff2") format("woff2");
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "space-grotesk";
   src: url("../font/SpaceGrotesk-Light.woff2") format("woff2");
   font-weight: 200;
   font-style: normal;
   font-display: swap;
}
