*,
*::after,
*::before {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body,
html {
   height: 100%;
   width: 100%;
   font-family: "space-grotesk";
   line-height: 1.5;
   background-color: var(--bg-light);
   color: var(--text-black);
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: bold;
}

a:focus {
   outline: 2px solid #005fcc;
}

input,
textarea,
select,
button {
   font-family: inherit;
   margin: 0;
}

button,
input {
   -webkit-tap-highlight-color: transparent;
   outline: none;
   user-select: none;
}

input[type="range"]:focus {
   outline: none;
}

p {
   text-wrap: pretty;
}

img,
figure,
video,
.aspect-ratio,
.embed-wrapper {
   display: block;
   width: 100%;
}

img {
   max-width: 100%;
   object-fit: cover;
}

ul,
ol {
   list-style: none;
   font-family: inherit;
}

ul > li {
   cursor: pointer;
   user-select: none;
}

li:hover > span {
   color: var(--text-black);
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
   *,
   *::before,
   *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
   }
}
