:root {
   /* ---- background-color ---- */
   --bg-light: #f8f7f6;
   --bg-dark: #221a10;
   --color-white: #ffffff;

   /* ---- Color Palette Variables ---- */
   --text-primary: #ee9d2b;
   --text-primary-dark: #d98210;
   --text-primary-hover: #ffb74d;
   --text-black: #181511;
   --text-gray: #4b5563;
   --text-error-color: rgb(243, 1, 1);
   --text-sucess-color: rgb(30, 175, 30);

   /* ---- font-sie ---- */
   --font-size-sm: 1rem;
   --font-size-md: 1.5rem;
   --font-size-lg: 1.75rem;
   --font-size-xl: 2rem;
   --font-size-2xl: 3rem;

   /* ---- padding ---- */
   --padding-sm: 0.7rem;
   --padding-md: 1rem;
   --padding-lg: 1.5rem;
   --padding-xl: 2rem;
   --padding-2xl: 3rem;

   /* ---- margin ---- */
   --margin-sm: 0.5rem;
   --margin-md: 1rem;
   --margin-lg: 1.5rem;
   --margin-xl: 2rem;
   --margin-2xl: 3rem;

   /* ---- gutter(spacing items in flex, grid) ---- */
   --gutter-sm: 0.5rem;
   --gutter-md: 1rem;
   --gutter-lg: 1.5rem;
   --gutter-xl: 2rem;
   --gutter-2xl: 3rem;
   --gutter-3xl: 6rem;

   /* ---- Border Radius ---- */
   --border-radius-sm: 0.5rem;
   --border-radius-md: 1rem;
   --border-radius-lg: 1.5rem;
   --border-radius-xl: 2rem;
   --border-radius-full: 9999px;

   --border-subtle: #e5e7eb;

   /* ---- input range slider ---- */
   --range-track-bg: #ffffff;
   --acent-color: #ee9d2b;

   /* ---- modal overlay ---- */
   --color-overlay: rgba(0, 0, 0, 0.45);

   /* ---- Box Shadow ---- */
   /* --box-shadow-soft: 0 8px 30px rgba(0, 0, 0, 0.04); */
   --box-shadow-glass: 0 4px 30px rgba(0, 0, 0, 0.1);
   --box-shadow-soft: 0 1px 2px rgba(0, 0, 0, 0.05);
}

@media (width < 750px) {
   :root {
      --font-size-sm: 0.9rem;
   }
}
