:root {
   /* ---- background-color ---- */
   --bg-light: #f8f7f6;
   --bg-dark: #221a10;
   --color-white: #ffffff;
   --color-overlay: #7575756e;
   --bg-checkerboard: #e5e5f7;

   /* ---- Color Palette Variables ---- */
   --text-primary: #ee9d2b;
   --text-primary-dark: #d68618;
   --text-primary-hover: #ffb74d;
   --text-black: #181511;
   --text-gray: #6b7280; /* Matches tailwind gray-500 */
   --text-error-color: #ef4444;
   --text-success-color: #0d632d;

   /* ---- font-size ---- */
   --font-size-xs: 0.75rem; /* 12px */
   --font-size-sm: 0.875rem; /* 14px - Primary UI size */
   --font-size-md: 1rem; /* 16px */
   --font-size-lg: 1.125rem; /* 18px */
   --font-size-xl: 1.25rem; /* 20px */
   --font-size-2xl: 1.5rem; /* 24px */

   /* ---- padding ---- */
   --padding-xs: 0.25rem; /* 4px */
   --padding-sm: 0.5rem; /* 8px */
   --padding-md: 1rem; /* 16px */
   --padding-lg: 1.5rem; /* 24px */
   --padding-xl: 3rem; /* 48px - used in main section */

   /* ---- margin ---- */
   --margin-sm: 0.5rem;
   --margin-md: 1rem;
   --margin-lg: 1.5rem;

   /* ---- gutter (spacing items in flex, grid) ---- */
   --gutter-xs: 0.25rem; /* gap-1 */
   --gutter-sm: 0.5rem; /* gap-2 */
   --gutter-md: 1rem; /* gap-4 */
   --gutter-lg: 1.5rem; /* gap-6 */
   --gutter-2xl: 3.5rem;

   /* ---- Border Radius ---- */
   --border-radius-sm: 0.25rem; /* 4px - Default */
   --border-radius-md: 0.5rem; /* 8px - lg */
   --border-radius-lg: 0.75rem; /* 12px - xl */
   --border-radius-full: 9999px;

   --border-subtle: #f4f3f0; /* Specific border color from HTML */

   /* ---- input range slider ---- */
   --range-track-bg: #e5e7eb;
   --accent-color: #ee9d2b;

   /* ---- Box Shadow ---- */
   --box-shadow-soft: 0 1px 3px rgba(0, 0, 0, 0.1);
   --box-shadow-card: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
   --box-shadow-primary: 0 4px 6px -1px rgba(238, 157, 43, 0.2);
}

@media (max-width: 768px) {
   :root {
      --font-size-sm: 0.8rem;
      --padding-xl: 1rem; /* Collapse large paddings on mobile */
      --paddimg-md: 0.75rem;
   }
}
