@import url("_font.css"); /*font family file*/
@import url("_theme.css"); /*CSS root Variables*/
@import url("_normalize.css"); /*CSS Reset */
@import url("_utilityClass.css");
@import url("_layouts.css"); /*CSS Custom Layout*/
@import url("_components.css"); /*CSS Custom Components*/

/* =====================
Background Checker Board style
of black and white boxes
======================== */
.checkerboard-container {
   height: 100vh;
   position: relative;
   z-index: 0;
   background-color: var(--bg-light);
}
.bg-checkerboard {
   inset: 0;
   z-index: -10;
   position: absolute;
   background-color: #e5e5f7;
   background-image: linear-gradient(45deg, #ffffff 25%, transparent 25%),
      linear-gradient(-45deg, #ffffff 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, #ffffff 75%),
      linear-gradient(-45deg, transparent 75%, #ffffff 75%);
   background-size: 20px 20px;
   background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
   opacity: 0.5;
}

.checkerboard-container .title {
   text-align: center;
   font-size: 3rem;
   font-weight: 400;
   color: var(--text-gray);
   opacity: 0.7;
}

.card .card_title {
   font-weight: 800;
   font-size: var(--font-size-sm);
}

span {
   font-weight: 600;
   letter-spacing: -0.01rem;
   font-size: var(--font-size-md);
   color: var(--text-gray);
}

h1 {
   font-size: var(--font-size-xl);
   font-weight: 800;
}

h2 {
   font-size: var(--font-size-lg);
   font-weight: 800;
}

h3 {
   font-size: var(--font-size-md);
   font-weight: 800;
}

.color-palette {
   min-width: 40%;
}

.icon {
   width: 20px;
   height: 20px;
   fill: currentColor;
   background-color: black;
   color: black;
}

#image-generator-page {
   height: 100vh;
}

/* ===============================
   Main Section
   =============================== */

#image-generator-page > #main {
   display: flex;
   height: 88%;
   background-color: var(--bg-white);
}

#main .main__left {
   height: 100%;
   width: fit-content;
   width: 3.65rem;
   background-color: var(--color-white);
   box-shadow: var(--box-shadow-soft);
}

/* ===============================
   Feature Icon
   =============================== */
.main__left__features {
   display: flex;
   flex-direction: column;
   gap: var(--gutter-sm);
   padding: var(--padding-md) var(--padding-sm);
}

.feature-icon {
   padding: var(--padding-sm);
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: var(--border-radius-md);
   opacity: 0.7;
   cursor: pointer;
}

.active-feature-icon {
   background-color: hsla(35, 85%, 55%, 0.4);
}

.inactive-feature-icon:hover {
   background-color: #f3f4f6;
}

@media (width < 900px) {
   .main__left {
      display: none;
   }
}
