@import url("_font.css"); /*font family file*/
@import url("_theme.css"); /*CSS root Variables*/
@import url("_normalize.css"); /*CSS Reset */
@import url("_utilityClass.css");
@import url("_layouts.css"); /*CSS Custom Layout*/
@import url("_components.css"); /*CSS Custom Components*/

/* =====================
Background Checker Board style
of black and white boxes
======================== */
.checkerboard-container {
   height: 100vh;
   position: relative;
   z-index: 0;
   background-color: var(--bg-light);
}
.bg-checkerboard {
   inset: 0;
   z-index: -10;
   position: absolute;
   background-color: #e5e5f7;
   background-image: linear-gradient(45deg, #ffffff 25%, transparent 25%),
      linear-gradient(-45deg, #ffffff 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, #ffffff 75%),
      linear-gradient(-45deg, transparent 75%, #ffffff 75%);
   background-size: 20px 20px;
   background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
   opacity: 0.5;
}

.checkerboard-container .title {
   text-align: center;
   font-size: 3rem;
   font-weight: 400;
   color: var(--text-gray);
   opacity: 0.7;
}

.card .card_title {
   font-weight: 800;
   font-size: var(--font-size-sm);
}

span {
   font-family: sans-serif;
   font-weight: 500;
   letter-spacing: 0.1rem;
   font-size: var(--font-size-sm);
   color: var(--text-gray);
}

h1 {
   font-size: var(--font-size-xl);
   font-weight: 800;
}

h2 {
   font-size: var(--font-size-lg);
   font-weight: 800;
}

h3 {
   font-size: var(--font-size-md);
   font-weight: 800;
}

.card p {
   color: var(--text-gray);
}

.color-palette {
   min-width: 40%;
}

.icon {
   width: 20px;
   height: 20px;
   fill: currentColor;
   background-color: black;
   color: black;
}

.button-group {
   display: flex;
   gap: 12px;
   align-items: center;
   margin-bottom: 12px;
}

@media (width < 80rem) {
   .container {
      padding: var(--padding-sm);
   }
}
