/* ---- canvas image container ----- */
.canvas-image-container {
   position: relative;
   width: 100%;
   flex-grow: 1;
   display: flex;
   justify-content: center;
   align-items: center;
}

input[type="file"] {
   display: none;
}

/* ====================
   Canvas Image 
==================== */

#canvas-image-preview {
   max-width: 90%;
   max-height: 90%;
}

.hidden {
   display: none;
}

@media (width <= 490px) {
   .upload-placeholder {
      padding: var(--padding-md);
   }

   #canvas-image-preview {
      max-width: 100%;
      max-height: 100%;
      padding-inline: var(--padding-xs);
   }
}
