/* ---- canvas image container ----- */
.canvas-image-container {
   position: relative;
   width: 100%;
   flex-grow: 1;
   display: flex;
   justify-content: center;
   align-items: center;
}

input[type="file"] {
   display: none;
}

/* ====================
   Canvas Image 
==================== */

#canvas-image-preview {
   max-width: 90%;
   max-height: 90%;
}

/* ====================
   Canvas Skeleton 
==================== */

.canvas-skeleton {
   width: 100%;
   max-width: 800px;
   aspect-ratio: 16 / 9; /* Matches common image shapes */
   background: #2a2a2a;
   opacity: 0.7;
   margin-inline: var(--margin-sm);
   border-radius: 8px;
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   overflow: hidden;
   color: var(--text-primary-dark);
   font-size: var(--font-size-2xl);
}

.skeleton-shimmer {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: linear-gradient(90deg, transparent, rgba(255, 254, 254, 0.342), transparent);
   animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
   0% {
      transform: translateX(-100%);
   }
   100% {
      transform: translateX(100%);
   }
}

.hidden {
   display: none;
}

@media (width <= 490px) {
   .upload-placeholder {
      padding: var(--padding-md);
   }

   #canvas-image-preview {
      max-width: 100%;
      max-height: 100%;
      padding-inline: var(--padding-xs);
   }

   .canvas-skeleton {
      font-size: var(--font-size-md);
   }
}
