/* ---- button ---- */

/* left-side button */
.left_top > .btn {
   border: none;
   outline: none;
   border-radius: var(--border-radius-md);
   background-color: var(--bg-active-color);
   padding: var(--padding-sm);
   font-size: var(--font-size-sm);
   cursor: pointer;
   color: var(--text-active-color);
}

/* right-side button */
.right .presets-buttons .btn {
   border: none;
   outline: none;
   font-weight: bold;
   text-transform: uppercase;
   border-radius: var(--border-radius-md);
   background-color: var(--bg-active-color);
   padding: var(--padding-sm);
   font-size: var(--font-size-sm);
   cursor: pointer;
   color: var(--text-active-color);
}

/* ---- Input Range/Track ---- */

/* 1. Reset the base input appearance */
.right .filters .filter input[type="range"] {
   -webkit-appearance: none;
   appearance: none;
   width: 100%;
   max-width: 600px;
   background: transparent;
   cursor: pointer;
}

/* 2. Style the Track/Range (The Line) */
.right .filters .filter input::-webkit-slider-runnable-track {
   background: #d3d3d39f;
   height: 5px;
   border-radius: var(--border-radius-md);
}

/* 3. Styling The Range/track Thumb (The "Ball") */
.right .filters .filter input::-webkit-slider-thumb {
   -webkit-appearance: none; /* Required to style the thumb */
   appearance: none;
   margin-top: -6px; /* (Track Height / 2) - (Thumb Height / 2) */

   height: 18px;
   width: 18px;
   background: var(--bg-danger-color); /* Your brand color */
   border-radius: var(--border-radius-2xl);
}

/* 4. Support for Firefox */
.right .filters .filter input::-moz-range-thumb {
   height: 18px;
   width: 18px;
   background: #646cff;
   border-radius: 50%;
   border: none;
}
