/* --- Menubar Toggle (X Animation) --- */
.menubar {
   border: none;
   background-color: transparent;
   display: none;
   cursor: pointer;
   .menu-container {
      width: 30px;
      height: 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      .bar {
         width: 100%;
         height: 3px;
         background-color: black;
         transition: all 0.3s ease-in-out;
         border-radius: 2px;
      }

      /* Transform logic */
   }

   .open .bar:nth-child(1) {
      transform: translateY(7.9px) rotate(45deg);
   }

   .open .bar:nth-child(2) {
      opacity: 0;

      display: none;

      transform: translateX(20px);
   }

   .open .bar:nth-child(3) {
      transform: translateY(-7.9px) rotate(-45deg);
   }
}

@media (width <= 900px) {
   .menubar {
      display: block;
      position: absolute;
      top: 0.8em;
      right: 0.8em;
   }
}
