.modalOverlayStyle {
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   background-color: rgba(0, 0, 0, 0.5);
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 1000;
}

.modalContentStyle {
   background-color: white;
   padding: 2rem;
   border-radius: 12px;
   width: 90%;
   max-width: 400px;
   box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
   color: #333;
}

.inputStyle {
   width: 100%;
   padding: 12px;
   margin-top: 10px;
   border-radius: 6px;
   border: 1px solid #ddd;
   font-size: 1rem;
   box-sizing: border-box;
}
