/* -------Container Style ----------- */
.container {
   padding: var(--padding-sm);
   margin-inline: auto;
   max-width: 80rem;
}

/* ------------ Flex Box Layout ----------------- */

.row {
   display: flex;
   align-items: center;
   gap: var(--gutter-md);
}
