*,
*::after,
*::before {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body,
html {
   height: 100%;
   width: 100%;
   font-family: "Helvetica Neue", Arial, sans-serif;
   line-height: 1.5;
   color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0 0 10px;
   font-weight: bold;
}

a:focus {
   outline: 2px solid #005fcc;
}

input,
textarea,
select,
button {
   font-family: inherit;
   margin: 0;
}

p {
   text-wrap: pretty;
}

img,
figure,
video,
.aspect-ratio,
.embed-wrapper {
   display: block;
   width: 100%;
}

img,
figure,
video {
   display: block;
   width: 100%;
}

img {
   max-width: 100%;
   width: auto;
   height: auto;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
   *,
   *::before,
   *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
   }
}
