@import url(_normalize.css);
@import url(_layout.css);
@import url(_components.css);
@import url(_theme.css);

/* ---- error Message ---- */
.errorMessage {
   font-size: var(--font-size-md);
   color: var(--text-error-color);
}

/*------ left top ------ */
.top_left {
   width: 100%;
}

/* -- reset button-- */
.left_top > [aria-label="Reset"] {
   background-color: var(--bg-danger-color);
   color: var(--text-primary-color);
}

/* -- download button-- */
.left_top > [aria-label="Download Image"] {
   background-color: var(--bg-sucess-color);
   color: var(--text-primary-color);
}

/*------ Left_Bottom ------ */
.left {
   width: 60%;
}

.left_bottom {
   position: relative;
   /* margin: var(--margin-lg) 0; */
   padding: var(--margin-lg);
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 80%;
   aspect-ratio: 6/4;
   background-color: var(--bg-secondary-color);
}

.left_bottom .image-preview {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.left_bottom .image-preview i {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 250px;
   color: var(--text-secondary-color);
   font-size: 300px;
}

.left_bottom .image-preview p {
   font-size: var(--font-size-md);
   font-weight: 400;
}

.left_bottom_image_errorMessage {
   position: absolute;
   top: 0;
   right: 20px;
}

/*------ Right part(Filter part) ------ */

.right {
   flex-grow: 1;
   background-color: var(--bg-secondary-color);
   border-radius: var(--border-radius-xl);
   padding: var(--padding-xl) var(--padding-md);
}

.right .filters {
   display: flex;
   flex-direction: column;
   gap: var(--margin-lg);
}

.right .filters .filter {
   height: 2rem;
}

.right .filters .filter .progress-counter {
   display: flex;
   justify-content: space-between;
}

/* ----- Canvas for Image ---- */
#image-canvas {
   max-height: 500px;
   max-width: 600px;
}
