/* Using your provided :root variables */
.editor-container {
   display: flex;
   height: 100%;
   width: 100%;
   background-color: var(--bg-light);
   font-family: "Inter", sans-serif;
   /* overflow: hidden; */
}

/* --- Main Editor Area --- */
.editor-main {
   flex-grow: 1;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: var(--padding-xl);
   position: relative;
   background-color: none;
}

.canvas-image-wrapper {
   height: 100%;
   width: 100%;
   justify-content: center;
}

.canvas-area {
   position: relative;
   display: flex;
   justify-content: center;
   touch-action: none;

   #canvas-image {
      position: relative;
      max-height: 100%;
      max-width: 100%;
   }
}
